@media only screen and (max-width: 1350px) {
  .custom-body {
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("img/abstract-cube-red-lights-150624.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .custom-h1 {
    margin-top: 15px;
  }
  .custom-nav {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
  }
  .sideMenu-container {
    transition: 0.1s;
  }
  .main-custom-header {
    transition: 0.5s;
  }
  .main-custom-nav {
    transition: 0.5s;
  }
  .custom-nav {
    justify-self: center;
    width: 90%;
    transition: 0.5s;
  }
  .custom-header {
    transition: 0.5s;
  }
  .title {
    transition: 0.5s;
  }
  .custom-ul {
    flex-direction: column;
    width: 0px;
    height: 0px;
    overflow: hidden;
    /* position: absolute; */
    margin-left: 75px;
    transition: 0.5s;
  }

  .custom-nav ul li {
    list-style: none;
    padding-right: 0px;
    margin-top: 20px;
    padding-left: 0;
  }

  .custom-nav .material-icons {
    display: block;
    margin-left: 190px;
    padding-top: 20px;
    transition: 0.5s;
  }

  .custom-nav .custom-ul .material-icons {
    margin-left: 70px;
    padding-right: 0px;
    /* padding-top: 100px; */
  }

  .image .imagecover {
    width: 0vw;
    height: 0vw;
  }

  /*--------------------Home--------------*/

  #home {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    background: radial-gradient(transparent, rgb(0, 0, 0));
    border-radius: 25px;
    width: 100%;
    margin-right: 0px;
  }

  .image {
    visibility: hidden;
    width: 0px;
  }

  #home .custom-div {
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("img/Untitled\ image1.png");
    padding-bottom: 250px;
    padding-top: 250px;
    justify-self: center;
    margin-left: 10px;
  }

  .custom-h1 {
  }
  .custom-p {
    font-size: 20px;
  }

  /*------------------About me---------------*/

  #AboutMe .custom-div {
    display: block;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }

  #AboutMe .custom-div .Skills,
  .Experience,
  .Education {
    justify-self: center;
    width: 90%;
    height: 400px;
    margin: 20px;
    border-radius: 25px;
    text-align: center;
    background-color: l;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    /* background: radial-gradient(transparent, rgb(0, 0, 0)); */
    align-items: center;
  }

  /*------------------languages---------------*/
  #TechStack {
    height: 1250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #TechStack .icons {
    justify-self: center;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
    width: 300px;
    height: 1250px;
  }

  #TechStack .icons img {
    margin: 20px;
    justify-self: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  #TechStack .icons img:hover {
    margin: 30px;
    margin-left: 75px;
    margin-right: 0px;
  }

  .scroll-fields {
    display: flex;
    gap: 20px;
  }

  /* Width of the scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track of the scrollbar */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  /* Handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.404);
    border-radius: 10px;
  }

  .submit-button-containor {
    margin: 10px;
    width: 1150px;
    display: flex;
    justify-content: end;
  }
  /*------------------myWork---------------*/
  #MyWork .custom-div .row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  #MyWork .custom-div .row .col1 {
    margin: 0px;
    justify-self: center;
    width: 341px;
    transform: translateX(0%);
  }

  #MyWork .custom-div .row:hover .col1 {
    width: 341px;
    transform: translateX(0%);
  }

  #MyWork .custom-div .row .col2 {
    justify-self: center;
    margin: 0px;
    width: 341px;
    opacity: 1;
    transform: translateX(0%);
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  #MyWork .custom-div .row:hover .col2 {
    opacity: 1;
    transform: translateX(0%);
  }
  /*More my work*/

  .carousel-projects .list .item .content-project {
    padding: 0;
    width: 100%;
  }

  .carousel-projects .list .item .content-project .title {
    font-size: 30px;
  }
  .carousel-projects .list .item .content-project .topic {
    font-size: 40px;
  }
  /*--------------------------------Footer---------------*/
  .custom-div1 {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
  }
}
