* {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.custom-body {
  margin-left: 50px;
  margin-right: 50px;
  background-image: url("img/abstract-cube-red-lights-150624.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.custom-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.name {
  display: flex;
}

.custom-nav ul {
  display: flex;
}

.custom-nav ul li {
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}

.custom-nav ul li a {
  border-color: #ff000000;
  border-style: solid;
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s;
  padding-left: 20px;
  padding-right: 20px;
}

.custom-nav ul li a:hover {
  border-image: linear-gradient(90deg, #000, #ff0000, #000) 0 0 1 0;
  transition: 0.5s;
  background: linear-gradient(90deg, #000, #ff0000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 1s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.custom-nav .material-icons {
  display: none;
}

.custom-h1 {
  color: #fdfdfd;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

span {
  font-weight: bolder;
  color: rgb(255, 0, 0);
  padding: 0;
  margin: 0;
}

/*------------------home-----------------*/

#home {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.752);
  border-radius: 25px;
  overflow: hidden;
}

#home .custom-div {
  margin-top: 250px;
  margin-bottom: 250px;
  /*padding-left:  10px;
    text-align: center;*/
}

.custom-h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.custom-p {
  line-height: normal;
  margin: 0;
  padding: 0;
}

.image {
  margin-top: 40px;
  position: relative;
  width: 40vw;
  height: 40vw;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  position: relative;
}
.image img {
  position: absolute;
  top: 30px;
  display: block;
  width: 70%;
  object-fit: cover;
}

.image .imagecover {
  position: absolute;
  width: 39vw;
  height: 39vw;
  background: radial-gradient(transparent, rgb(0, 0, 0));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  /* overflow: hidden; */
  mix-blend-mode: soft-light;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.image:after,
.image::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #00000000,
    #ff00009f,
    #00000000
  );
  z-index: -1;
  animation: 3s spin linear infinite;
  border-radius: 50%;
}

.image::before {
  filter: blur(1.5rem);
  opacity: 1;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/*------------------About me---------------*/

#AboutMe {
  margin-top: 25px;
  padding-top: 1px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.752);
  border-radius: 25px;
}

#AboutMe h4 {
  padding-top: 20px;
}

#AboutMe .custom-div {
  display: flex;
  justify-content: space-evenly;
}

#AboutMe .custom-div .Skills,
.Experience,
.Education {
  width: 100%;
  height: 400px;
  margin: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: l;
  border-radius: 25px;
  background: radial-gradient(transparent, rgb(0, 0, 0));
  align-items: center;
}

#AboutMe .custom-div .Skills .custom-innerdiv,
.Experience .custom-innerdiv,
.Education .custom-innerdiv {
  padding: 20px;
  text-align: left;
}

/*------------------languages---------------*/

#Languages {
  margin-top: 25px;
  padding-top: 1px;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.752);
  border-radius: 25px;
}

#Languages .icons {
  height: 250px;
  border-radius: 25px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
}

#Languages .icons img {
  margin: 20px;
  width: 100px;
  transition: 0.5s;
}

#Languages .icons img:hover {
  margin: 30px;
  width: 150px;
  transition: 0.5s;
}

/*-----------------------MyWork-------------------*/

#MyWork {
  margin-top: 25px;
  padding-top: 1px;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.752);
  border-radius: 25px;
}

#MyWork .cover {
  display: flex;
  justify-content: space-around;
}

#MyWork .custom-div {
  justify-content: space-between;
  width: 1000px;
}

#MyWork .custom-div .row {
  display: flex;
}

#MyWork .custom-div .row .col1 img {
  width: 400px;
  height: 231px;
  border-radius: 10px;
}

#MyWork .custom-div .row .col1 {
  margin: 30px;
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
  transform: translateX(65%);
  transition: opacity 1.5s, visibility 0s 1.5s, transform 1.5s;
}

#MyWork .custom-div .row:hover .col1 {
  opacity: 100%;
  width: 400px;
  transform: translateX(10%);
  transition-delay: 0.05s; /* Adjust the delay time as needed */
}

#MyWork .custom-div .row .col2 {
  background: radial-gradient(transparent, rgb(0, 0, 0));
  margin: 30px;
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;
  visibility: visible;
  transform: translateX(-1%);
  transition: opacity 1.5s, visibility 0s 1.5s, transform 1.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#MyWork .custom-div .row:hover .col2 {
  opacity: 1;
  visibility: visible;
  transform: translateX(10%);
  transition-delay: 0.05s; /* Adjust the delay time as needed */
}

#MyWork .custom-div .row p {
  display: none;
  transition: display 1.5s;
}

#MyWork .custom-div .row:hover p {
  margin: 30px;
  width: 400px;
  display: block;
}

.custom-a1 {
  border-radius: 5px;
  padding: 4px;
  border-color: #ff000000;
  border-style: solid;
  color: #ffffff;
  text-decoration: none;
}

.custom-a1:hover {
  border-image: linear-gradient(90deg, #ff0000, #020202, #fc0000) 1;
  border-width: 0.5px;
  transition: 0.5s;
  background: linear-gradient(90deg, #000, #ff0000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 1s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.viewMore {
  background-color: #00000000;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*----------------------------More My work-----------------------------------------------------*/

#moreMyWork {
  display: none;
  text-align: center;
}

.projects {
  margin: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
/*carousel*/
.carousel-projects {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  /* margin-bottom: -50px; */
  position: relative;
}

.carousel-projects .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel-projects .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-projects .list .item .content-project {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 40%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
  text-align: left;
}

.carousel-projects .list .item .content-project .author {
  font-weight: bold;
  letter-spacing: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ff00004d;
  backdrop-filter: blur(5px);
}

.carousel-projects .list .item .content-project .title,
.carousel-projects .list .item .content-project .topic {
  font-weight: bold;
  font-size: 5em;
  line-height: 1.3em;
}
.carousel-projects .list .item .content-project .topic {
  color: #ff0000;
}

.carousel-projects .list .item .content-project .des {
  padding: 10px;
  border-radius: 15px;
  background-color: #ff00004d;
  backdrop-filter: blur(5px);
}

.carousel-projects .list .item .content-project .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel-projects .list .item .content-project button {
  border: none;
  background-color: #ff0000d3;
  letter-spacing: 3px;
  font-weight: 500;
  color: #000;
  font-weight: bold;
}

.carousel-projects .list .item .content-project button:nth-child(2) {
  background-color: transparent;
  color: #000000;
  border: 1px solid #ff0000;
}

/*thumbnail*/

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  /* width: max-content; */
  width: 100%;
  z-index: 100;
  display: flex;
  gap: 20px;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  background-color: #ff00004d;
  backdrop-filter: blur(5px);
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.thumbnail .item .content-project {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 10px;
  background-color: #8181814d;
  backdrop-filter: blur(5px);
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
}

.thumbnail .item .content-project .title {
  font-weight: bold;
}

/* arrow */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(155, 1, 1, 0.616);
  border: none;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 100;
  backdrop-filter: blur(5px);
}

.arrows button:hover {
  background-color: #eee;
  color: #555;
}

.carousel-projects .list .item:nth-child(1) {
  z-index: 1;
}

.carousel-projects .list .item:nth-child(1) .author,
.carousel-projects .list .item:nth-child(1) .title,
.carousel-projects .list .item:nth-child(1) .topic,
.carousel-projects .list .item:nth-child(1) .des,
.carousel-projects .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carousel-projects .list .item:nth-child(1) .title {
  animation-delay: 1.2s;
}
.carousel-projects .list .item:nth-child(1) .topic {
  animation-delay: 1.4s;
}
.carousel-projects .list .item:nth-child(1) .des {
  animation-delay: 1.6s;
}
.carousel-projects .list .item:nth-child(1) .buttons {
  animation-delay: 1.8s;
}

/*effect next click*/
.carousel-projects.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 51%;
  bottom: 70px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.carousel-projects.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 150px;
    /* opacity: 1; */
  }
}

.carousel-projects.next .thumbnail {
  transform: translateX(150px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/*effect prev click */
.carousel-projects.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel-projects.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 51%;
    bottom: 65px;
  }
}

.carousel-projects.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel-projects.prev .list .item:nth-child(2) .author,
.carousel-projects.prev .list .item:nth-child(2) .title,
.carousel-projects.prev .list .item:nth-child(2) .topic,
.carousel-projects.prev .list .item:nth-child(2) .des,
.carousel-projects.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
  to {
    transform: translateY(150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel-projects.next .arrows button,
.carousel-projects.prev .arrows button {
  pointer-events: none;
}

/*time*/

.time {
  width: 0%;
  height: 5px;
  background-color: #ff0000;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.carousel-projects.next .time,
.carousel-projects.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
  to {
    width: 0;
  }
}
/*--------------------------------Footer---------------*/

#Footer {
  margin-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.752);
  border-radius: 25px;
}
.custom-div1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(transparent, rgb(0, 0, 0));
}
.col {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 200px;
}

.custom-ul {
  list-style: none;
}

.custom-a {
  border-radius: 5px;
  padding: 4px;
  border-color: #ff000000;
  border-style: solid;
  color: #ffffff;
  text-decoration: none;
}

.custom-a:hover {
  border-image: linear-gradient(90deg, #000, #ff0000, #000) 1 0 1 0;
  border-width: 0.5px;
  transition: 0.5s;
  background: linear-gradient(90deg, #000, #ff0000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 1s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*----------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: Arial;
}

svg {
  display: block;
  font: 10.5em "Montserrat";
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-top: -100px;
  margin-bottom: -50px;
  margin-left: -1px;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #560d14;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #570101;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0000;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: rgb(255, 0, 0);
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

/*----------------------------------------------------------*/
span1 {
  font-weight: bolder;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #ff0000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
